@import "tailwindcss";

@theme {
  --color-primary: #c61f1f;
}

@custom-variant dark (&:where(.dark, .dark *));


*{
  box-sizing: border-box;
}

.container {
  max-width: 1212px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0 -3em 0 0.2em,
      2em -2em 0 0em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 0;
  }
  12.5% {
    box-shadow:
      0 -3em 0 0,
      2em -2em 0 0.2em,
      3em 0 0 0,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow:
      0 -3em 0 -0.5em,
      2em -2em 0 0,
      3em 0 0 0.2em,
      2em 2em 0 0,
      0 3em 0 -1em,
      -2em 2em 0 -1em,
      -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0em 0 0,
      2em 2em 0 0.2em,
      0 3em 0 0em,
      -2em 2em 0 -1em,
      -3em 0em 0 -1em,
      -2em -2em 0 -1em;
  }
  50% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 0em,
      0 3em 0 0.2em,
      -2em 2em 0 0,
      -3em 0em 0 -1em,
      -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow:
      0 -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 0,
      -2em 2em 0 0.2em,
      -3em 0 0 0,
      -2em -2em 0 -1em;
  }
  75% {
    box-shadow:
      0em -3em 0 -1em,
      2em -2em 0 -1em,
      3em 0em 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 0,
      -3em 0em 0 0.2em,
      -2em -2em 0 0;
  }
  87.5% {
    box-shadow:
      0em -3em 0 0,
      2em -2em 0 -1em,
      3em 0 0 -1em,
      2em 2em 0 -1em,
      0 3em 0 -1em,
      -2em 2em 0 0,
      -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}

@media (max-width: 1080px) {
  .actors {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 890px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .actors {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 770px) {
  .actors {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 690px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
@media (max-width: 600px) {
  .actors {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .actors {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media (max-width: 360px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
.category::-webkit-scrollbar {
  display: none;
}
